<!DOCTYPE html>
<html>
<head>
	<title>Employee Page</title>
</head>
<body>	
	<fieldset>
		<legend>Employee</legend>
		<table>
			<tr>
				<td><button><a href="/employee/MyProfile">MyProfile</a></button></td>
                <td><button><a href="/employee/UpdateProfile">Update Profile</a></button></td><br>            
            </tr>
            <tr>
                <td><a href="/logout">Logout</a></td>
            </tr>    
		</table>
	</fieldset>
		
</body>
</html>