<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
		<form method="post">
			<fieldset>
				<legend>SignIn</legend>
				<table>
					<tr>
						<td>username</td>
						<td><input type="text" name="uname"></td>
					</tr>
					<tr>
						<td>password</td>
						<td><input type="password" name="password"></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" name="submit" value="Submit"></td>
					</tr>
				</table>
			</fieldset>
		</form>
		<p><h3>Note: Username and password must be same</h3></p>
		<p><h3>If Username='admin' redirect admin page</h3></p>
		<p><h3>If Username='employee' redirect employee page</h3></p>
</body>
</html>