<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
		<form method="post">
			<fieldset>
				<legend>Employee List</legend>
				<table class="tg">
                    <thead>
                      <tr>
                        <th>EmpID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Designation</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>1</td>
                          <td>Hasib</td>
                          <td>01778578380</td>
                          <td>Male</td>
                          <td>Manager</td>
                          <td><a href="/update">Update</a><br><a href="/delete">Delete</a></td>
                      </tr>
                    </tbody>
                    </table>
			</fieldset>
		</form>
</body>
</html>